node_modules/
.env
/public/uploads/*
!/public/uploads/.gitkeep
/public/js/min
public/css/output.css
public/index.html
public/admin-dist/*
public/min/*.js
.DS_Store
*.log
language-settings.json
tts-settings.json
config/*
.stylelintcache
.eslintcache
reports/
tenant/
data/*
docs/ROUTES_INTERNAL.md