node_modules/
public/css/output.css
public/index.html
public/admin.html
public/min/*.js
.env
.DS_Store
*.log
chat-config.json
external-notifications-config.json
language-settings.json
tts-settings.json
notifications-config.json
raffle-settings.json
config/*.json