node_modules/
.env
/public/uploads/*
!/public/uploads/.gitkeep
/public/js/min
public/css/output.css
public/index.html
public/min/*.js
.DS_Store
*.log
language-settings.json
tts-settings.json
raffle-settings.json
config/*.json
.stylelintcache
.eslintcache
/reports/