{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-tailwindcss"
  ],
  "ignoreFiles": [
    "public/css/**/*.css"
  ],
  "rules": {
    "rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "media-feature-range-notation": null
  }
}
