{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "ecmascript",
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": false,
        "useBuiltIns": true
      }
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
