.notification {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 380px;
    background: #080c10;
    color: white;
    padding: 0;
    border-radius: 8px;
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    display: none;
    z-index: 10000;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-left: 8px solid #ca004b ;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards, fadeOut 0.5s 10s forwards;
}

.notification-content {
    padding: 16px;
    border-radius: 2px;
}

.notification-icon {
    font-size: 24px;
    margin-right: 12px;
    float: left;
    width: 36px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.notification-icon img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.notification-text {
    overflow: hidden;
}

.notification-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}

/* .notification-timestamp {
    font-size: 12px;
    color: #f8f8f8;
    margin-top: 8px;
    text-align: right;
} */

.progress-bar {
    height: 8px;
    background: #ca004b;
    width: 100%;
    border-radius: 4px;
    animation: progress 15s linear forwards;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes progress {
    from { width: 100%; }
    to { width: 0%; }
}

.amount-container {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 4px;
}

.ar-amount {
    font-size: 22px;
    font-weight: 800;
    color: #00ff7f;
    text-shadow: 0 0 5px rgba(0, 255, 127, 0.5);
}

.usd-value {
    font-size: 16px;
    color: #fff;
    margin-top: 4px;
    font-weight: 600;
}

.notification-from {
    font-size: 14px;
    font-weight: 600;
    color: #00ff7f;
    display: flex;
    align-items: center;
}

.notification-emoji {
    width: 18px;
    height: 18px;
    margin: 0 1px;
}

.notification-sticker {
    max-width:18px;
    max-height: 18px;
    margin: 2px 0;
    display: block;
}

.notification-message {
    font-size: 16px;
    color: #ffffff;
    text-overflow: ellipsis;
    margin-top: 8px;
    font-weight: 600;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 100%;
}

.notification-sticker {
    max-width: 100%;
    height: auto;
}