.resize-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ca004b;
  z-index: 100;
  border-radius: 2px;
}

.resize-handle.bottom-right {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.resize-handle.bottom-left {
  left: 0;
  bottom: 0;
  cursor: sw-resize;
}

.resize-handle.top-right {
  right: 0;
  top: 0;
  cursor: ne-resize;
}

.resize-handle.top-left {
  left: 0;
  top: 0;
  cursor: nw-resize;
}

.pos-top-right {
  top: 20px;
  right: 20px;
}

.pos-bottom-right {
  bottom: 20px;
  right: 20px;
}

.pos-bottom-left {
  bottom: 20px;
  left: 20px;
}

.pos-top-left {
  top: 20px;
  left: 20px;
}

.pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.widget-obs #chat-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.widget-obs #chat-container::-webkit-scrollbar {
  display: none;
}